{{#link-to 'index'}}
Index
{{/link-to}}
{{#link-to 'blogs'}}
Blogs
{{/link-to}}
{{#link-to 'bookmarks'}}
Bookmarks
{{/link-to}}
{{#link-to 'contacts'}}
Contacts
{{/link-to}}

<div class="create">
<button class="create-btn">Create New Contact</button>
</div>

<div class="ppl-info">
  <h1 class="contacts-h1">Person's Name</h1>
  <h4 class="contacts-h4">(555) 867-5309</h4>
  <h4 class="contacts-h4">Address</h4>
  <button class="delete-btn">Delete them for existence</button>

</div>



{{outlet}}
